@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import url('https://fonts.cdnfonts.com/css/manga-temple');

body {
  background-color: #f2f2f2;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Tahoma', sans-serif;
}

.loginButton {
  background-color: #00ffaa;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.loginButton:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
  background-color: #00ffaaf1;
}

.logoutButton {
  position: fixed;
  bottom: 25px;
  right: 220px;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}

#sharedSubnav {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  @apply bg-slate-600;
  padding: 10px 0;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

#sharedSubnav a {
  @apply text-white;
  margin: 20px, 0;
}

#sharedSubnav a:hover {
  color: #ff0000;
  transition: ease-in-out 0.05s;
}

#sharedItems {
  overflow-x: scroll;
  width: 90%;
}

.sharedCall {
  max-height: 400px;
  overflow-y: scroll;
}

#sharedCallNoteContainer {
  min-width: 400px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  @apply bg-slate-800;
  padding: 20px 0;
  z-index: 100;
  color: white;
  font-family: 'Manga Temple', cursive;
  display: flex;
  justify-content: space-around;
}

nav a {
  @apply text-white font-bold;
  margin: 20px, 0;
}

nav a:hover {
  color: #ff0000;
  transform: scale(1.1);
  transition: ease-in-out 0.05s;
}

label {
  color: black;
}

input, textarea, #output {
  color: black;
  border: black 1px solid;
  font-family: Optima, sans-serif;
}

#container {
  width: 95%;
  margin: 60px 100px 0 0;
  max-height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #0800338c, #e6e6e6);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 300px;
  opacity: 0.9;
}

#storageContainer {
  width: 100%;
  max-height: 100vh;
  margin: 100px;
  padding: 20px;
}

#sharedContainer {
  margin: 100px 0;
}

.storageCol {
  margin-bottom: 200px;
}

#callNoteForm {
  padding-top: 60px;
}

#callNotes {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  height: 400px;
}

#callNotesInput {
  width: 30rem;
  height: 100%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

#callerInfo {
  width: 90%;
  margin: 20px auto;
}

.callerInfos {
  display: flex;
  flex-direction: column;
  @apply mx-20;
}

#footNotes {
  width: 90%;
  margin: 20px auto;
  align-items: center;
}

#footnote-item {
  @apply mx-20;
}

label {
  @apply font-semibold;
}

.optima {
  font-family: Optima, sans-serif;
}

#dbaName, #summary, #ticket {
  width: 400px;
  margin-bottom: 30px;
}

#submit {
  margin-left: 50%;
}

#rekeyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitCall {
  display: flex;
  align-items: center;
  justify-content: center;
}

#todoForm {
  position: fixed;
  bottom: 40px;
  left: 20%;
  right: 25%;
  width: fit-content;
  @apply bg-slate-700 rounded-lg;
  padding: 20px;
}

.todo label {
  @apply text-white;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

#submitTodo {
  margin: 20px 20px;
}

#arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todoTable {
  width: 70vw;
  max-height: 50vh;
  overflow-y: scroll;
  margin: 20px auto;
  background-color: #f2f2f2;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

#rekeyForm {
  width: 100%;
  margin: 40px auto;
}

#rekeyForm input {
  width: 400px;
  float: right;
  margin-bottom: 30px;
}

#rekeyForm label {
  margin-right: 10px;
  float: left;
  position: relative;
}

#handoffForm {
  width: 70%;
  margin: 50px auto 0 auto;
}

#handoffForm input {
  width: 100%;
  margin-bottom: 30px;
}

#handoffForm label {
  margin-right: 10px;
  position: relative;
}

#alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#handoffOutput {
  height: 400px;
  width: 50%;
  overflow-y: scroll;
  margin: 30px auto;
  background-color: #f2f2f2;
  font-family: Optima, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#rekeyOutput {
  height: 500px;
  overflow-y: scroll;
  margin-top: 30px;
  background-color: #f2f2f2;
  font-family: Optima, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#rekeyOutput div {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

#output {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  min-width: 500px;
  max-width: 1000px;
  height: 400px;
  border-radius: 10px;
}

#socials {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: flex;
  z-index: 100;
}

#github:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
}

#discord:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
}

#session {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 20px;
}

@media only screen and (max-width: 1560px) {
  .storageCol {
    width: 25%;
    @apply text-sm;
  }
}

@media only screen and (max-width: 1200px) {
  #todoForm {
    left: 0;
    right: 0;
    width: fit-content;
  }

  #task, #name, #timeframe {
    width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  #container {
    width: 100vh;
    margin: 100px 0;
    padding: 0;
  }

  #callNotes, #output {
    width: 50vw;
  }

  #callerInfo {
    width: 100vw;
  }

  #footNotes {
    width: 100%;
  }

  #dbaName, #summary, #ticket {
    width: 100%;
  }

  #submit {
    margin: 30px 20%;
  }

  #todoForm {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
  }

  #todoTable {
    width: 100vw;
  }

  #rekeyForm {
    width: 100%;
    margin: 40px auto;
  }
}